//Booking form

.bookings {
  background-color: white;
  padding: 9rem 6rem;

  @include respond(tab-port) {
    .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 2rem;
    padding: 0 auto;
    }
  }
}

.table-Booking {
  background-color: $color-primary-darkgrey;
  padding: 2rem 3rem;


}

input{
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  outline: none;
  background-color: $color-primary-darkgrey;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  width: 40%;
  position: relative;
  font-size: 18px;

  @include respond(tab-port) {
    width: 80%;
  }

}

label{
  font-size: 18px;

}

textarea {
  @include respond(phone) {
    width: 100%;
  }
}

.form-control.success input{
  border-color: green;

}

.form-control.error input{
  border-color: red;

}

.btn--black {
  border: 0;
}
