//hero section

.header {
  height: 95vh;
  background-image: url(../img/nick-hillier-254650-unsplash.jpg);
  background-size: cover;
  background-position: right;
  position: relative;

  @include respond(tab-port) {
    width: auto;
  }


}

.logo-box {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 800px;

  @include respond(tab-port) {
    height: 34.37rem;
  }

  @include respond(phone) {
    height: 30rem;

  }
}

.header-box {
  position: absolute;
  top: 70%;
  left: 50%;
  padding: 5px 15px;
  background-color: $color-primary;
  transform: translate(-50%, -50%);

  @include respond(tab-port) {
    width: auto;

  }


}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  @include respond(tab-port) {
    text-align: center;
  }
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  letter-spacing: 11px;

  @include respond(tab-port) {
    display: inline-block;
    width: 28.12rem;

  }

  @include respond(phone) {
    display: inline-block;
    width: 25rem;
    font-size: 17px;

  }

}
