.location {
  background-color: grey;

  .store {
    color: black;
    font-size: 2.5rem;
    display: block;
    margin-bottom: 1rem;
  }

  .store-postcode {
    color: black;
    display: block;

  }
}

.address-info{
  display: block;
  font-size: 2rem;
  padding: 2rem;
  margin: 5rem
}
