// navigation

.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: white;
    height: 5rem;
    width: 5rem;
    right: 4rem;
    top: 4rem;
    border-radius: 50%;
    position: fixed;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgb($button-black, .1);
    text-align: center;
  }

  &__background {
    height: 3rem;
    width: 4rem;
    right: 4.5rem;
    top: 4.5rem;
    border-radius: 50%;
    position: fixed;
    background-color: rgb(120, 19, 19, 0.95);
    z-index: 1000;
    transition: transform .5s cubic-bezier(.62,.28,.77,.51);


  }

  &__nav {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    opacity: 0;
    transition: all .6s ;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;


  }

  &__item {
    text-decoration: none;
    margin: 1.5rem;

  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      padding: 1rem 2rem;
      font-size: 2rem;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $button-black 50%);
      background-size: 230%;
      transition: all .4s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: white;
      transform: translateX(0.2rem);


    }

  }

  //functionality
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    width: 100%;
    opacity: 1;
  }

  //icon
  &__icon {
    position: relative;
    margin-top: 2.5rem;

    &,
    &::before,
    &::after {
      width: 2.5rem;
      height: 2px;
      background-color: black;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before {top: -.6rem;}
    &::after {top: .6rem;}


  }

  &__button:hover &__icon::before {
    top: -.8rem;
  }

  &__button:hover &__icon::after {
    top: .8rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top:0;
    transform: rotate(45deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-45deg);
  }

}
