$color-primary: rgb(120, 19, 19);
$color-primary-lightgrey: rgb(128, 128, 128);
$color-primary-darkgrey: rgb(52, 52, 52);
$button-black: rgb(10, 10, 10);

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
