.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: white;
  height: 5rem;
  width: 5rem;
  right: 4rem;
  top: 4rem;
  border-radius: 50%;
  position: fixed;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(10, 10, 10, 0.1);
  text-align: center;
}
.navigation__background {
  height: 3rem;
  width: 4rem;
  right: 4.5rem;
  top: 4.5rem;
  border-radius: 50%;
  position: fixed;
  background-color: rgba(120, 19, 19, 0.95);
  z-index: 1000;
  transition: transform 0.5s cubic-bezier(0.62, 0.28, 0.77, 0.51);
}
.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  transition: all 0.6s;
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.navigation__item {
  text-decoration: none;
  margin: 1.5rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #0a0a0a 50%);
  background-size: 230%;
  transition: all 0.4s;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: white;
  transform: translateX(0.2rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
}
.navigation__icon {
  position: relative;
  margin-top: 2.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 2.5rem;
  height: 2px;
  background-color: black;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.6rem;
}
.navigation__icon::after {
  top: 0.6rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -0.8rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 0.8rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(45deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-45deg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
}

.header {
  height: 95vh;
  background-image: url(../img/nick-hillier-254650-unsplash.jpg);
  background-size: cover;
  background-position: right;
  position: relative;
}

.logo-box {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 800px;
}

.header-box {
  position: absolute;
  top: 70%;
  left: 50%;
  background-color: #781313;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  letter-spacing: 11px;
}

/*# sourceMappingURL=main.css.map */
