
@import 'variables/variables.scss';
@import 'variables/mixins.scss';

@import 'layout/navigation.scss';
@import 'layout/header.scss';
@import 'layout/grid.scss';
@import 'layout/newsletter.scss';
@import 'layout/location.scss';
@import 'layout/booking.scss';
@import 'layout/social.scss';
@import 'layout/footer.scss';

.u-center-text { text-align: center !important; }
.u-margin-bottom-small { margin-bottom: 6.5rem !important; }
.u-margin-top-big { margin-top: 4rem !important;}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Special Elite', cursive;
  font-weight: 400;
  // font-size: ;
  line-height: 1.2rem ;
  color: #fff;
}
