
@import 'variables/variables.scss';
@import 'variables/mixins.scss';

@import 'layout/navigation.scss';
@import 'layout/header.scss';
@import 'layout/grid.scss';
@import 'layout/newsletter.scss';
@import 'layout/location.scss';
@import 'layout/booking.scss';

.u-center-text { text-align: center !important; }
.u-margin-bottom-small { margin-bottom: 6.5rem !important; }
.u-margin-top-big { margin-top: 4rem !important;}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Special Elite', cursive;
  font-weight: 400;
  // font-size: ;
  // line-height: ;
  color: #fff;
}

.social {
 background-image: url(../img/jez-timms-305915-unsplash.jpg);
 height: 80vh;
 background-size: cover;
 background-position: left;
 position: relative;



}

.social-chat {
  background-color: $color-primary;
  padding-bottom: 2rem;
  height: 300px;
  position: absolute;
  top: 20%;
  right: 10%;
  width: 400px;



}

.icon-container {

  height: 100px;
  position: absolute;
  top: 62%;
  right: 10%;
  width: 400px;

  .social-icon1 {
    background-color: $color-primary;
    width: 190px;
    position: absolute;
    height: 100px;
    background-image: url(../img/008-twitter.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
  }

  .social-icon2 {
    background-color: $color-primary;
    width: 190px;
    position: absolute;
    height: 100px;
    right: 0;
    background-image: url(../img/029-instagram.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
  }
}
